.knowledge-graph-container {
  height: auto; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; 
}

.results-title {
  margin: 30px;
  font-size: 30px;
  color: #333;
}

.results {
  margin-bottom: 20px; 
  margin-top: 400px; 
  width:100%;
  padding-left: 35px;
}

.small-knowledge-graph {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}