.echarts-graph {
  width: 90%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  margin: 30px;
  
}

.graph {
  width: 100%;
  height: 100%;
}

.graph-title {
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: -10px;
}
